/* ========================================================================
 * General common styling
 *
 * ========================================================================
 * Copyright 2016 Bootbites.com (unless otherwise stated)
 * For license information see: http://bootbites.com/license
 * ======================================================================== */

@import '_variables';
@import '_mixins';

* {
  font-family:arial;
  color:blue;
}



/*----------------------------------------
HOME PAGE
----------------------------------------*/
.titleSection{
	height:300px;
}

.homeTitle{
	
	position:relative;
	top:100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem
}

.homeContent{
	background-color:blue;
	height:300px;
}

.formContent{
	background-color:red;
	height:300px;


}
/*---------------------------------
POST PAGE
---------------------------------*/
.postPage{

	position:relative;
	top:150px;
}

.officerSection{
	height:500px;
	background-color:orange;
	float:right;
}

.postSection{
	height:500px;
	background-color: grey;

	.optionalFields{
		max-height:0px;
		overflow:hidden;
		transition:1s;
	}
	.optionalFields.active{
		
		max-height:500px;
		transition:1s;
	}
}

.serviceImage{
	height:50%;
}

/*------------------------------------
POST
------------------------------------*/

.post{

	background-color:white;
}