/* ========================================================================
 * General common styling
 *
 * ========================================================================
 * Copyright 2016 Bootbites.com (unless otherwise stated)
 * For license information see: http://bootbites.com/license
 * ======================================================================== */

@import '_variables';
@import '_mixins';

body{
	/*background: #d2d2d2;
	#ffc36e badge1 255 195 110*/
}

/*--------------------------
NAV BAR
*---------------------------*/

#mainNav{

		background:#234d84;
	a{
		color:white;
	}
}

.navbar-header{
		height: 80px;
}

.navbar-right{

	margin-top:26px;

}

#brandNavLink{

    font-family: theboldfont;
    color: black;
    font-size: 22px;
    margin-top: 11px;
}

.navLink{

	font-family: theboldfont;
	color:black;
}

/*----------------------------------------
HOME PAGE
----------------------------------------*/
.titleSection{
	height:223px;
}


.homeTitle{

	    font-family: "theboldfont", "Trebuchet MS", Arial, sans-serif;
    font-size: 8rem;
    position: relative;
    top: 99px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }

.homeContainer{

	max-width:970px;
	margin-left: auto;
	margin-right:auto;
}
	
.homeContent{
	
		p{
		margin-top: 41px;
	    line-height: 28.5px;
		}
	
}

.formContent{
	
	background-image:url("../Components/security.png");
	height:0px;
	padding-bottom:49%;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	top: -75px;
	float: right;
}

.badgeCop{
    position: absolute;
    left: 31.5%;
    top: 12%;
    width: 35%;
}

/*.badgeLabel span{

	position: absolute;
    left: 44%;
    top: 26%;
    font-size: 1.5vw;
    text-transform: uppercase;
}*/

.badgeInput{
	position: absolute;
    top: 31%;
    left: 36.5%;
    width: 25%;
    height: 8%;
    border: solid;
    border-color: #bc945c;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.badgeInput:placeholder-shown{
	font-size:1rem;
}

.orgInput{

    position: absolute;
    top: 55%;
    left: 18.5%;
    width: 66%;
    height: 7%;
    border: solid;
    border-color: #5b5d6e;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;

}

.badgeButton{

    position: absolute;
    top: 65%;
    left: 38.5%;
    width: 21%;
    height: 7%;
    border: solid;
    border-radius: 10px;
    border-color: #5b5d6e;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}


.titleImage{
	width: 96%;
    position: absolute;
    top: -25%;
    z-index: -1;
}
/*---------------------------------
POST PAGE
---------------------------------*/

.posted{

	background-color: $postColor;
    padding: 20px;
    margin-bottom: 20px;
}

.postHeader{
	font-weight: bold;
}

.postForm{

	background-color: $postColor;
    padding: 20px;
    margin-bottom: 20px;

    label{

    	margin-bottom:10px;

		     span{
		    	margin-right:10px;
		    }
	}
}

.postDate{
	float:right;
}

.messageBox{

		width:100%;
		height:150px;
      
}


.postPage{

	position:relative;
	top:150px;
}

.officerSection{
	height:500px;
	background-color:$postColor;
	float:right;
	padding: 20px;
}

.officerTitle, .officerName{

			font-size: 2rem;
		    font-weight: bold;

			}

.serviceImage{

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.postSection{
	

	.optionalFields{
		display:none;
		max-height:0px;
		overflow:hidden;
		transition:1s;
	}
	.optionalFields.active{
		
		max-height:500px;
		transition:1s;
	}
}

.serviceImage{
	height:50%;
}

/*------------------------------------
POST
------------------------------------*/

.post{

	background-color:white;
}

.postMessage{
	word-break: break-all;
}

/*---------------------------
MEDIA QUERIES
---------------------------*/
 @media screen and (max-width: 768px) {

	.formContent{
		padding-bottom:96%;
	}


	.homeTitle{
		top:135px;
	 }


	.badgeInput{

		font-size: 3.5vw;
	}
	 .badgeInput:placeholder-shown{
	 	font-size:2vw;
	 }

	 .orgInput{
	 	font-size:3.5vw;
	 }

	 .badgeButton{
	 	font-size:3.5vw;
	 }

	 .homeTitle{


    font-size: 7vw;
   
 	}
}

/*-----------------------------
REACT TRANSITIONS
-------------------------------*/

.fade-enter{
	/*max-height:0px;*/
	opacity:0;
	overflow:hidden;
}

.fade-enter-active{

	opacity:1;
	transition: .75s ease-in all;
	/*max-height:1000px;*/

}
