/* ========================================================================
 * General common styling
 *
 * ========================================================================
 * Copyright 2016 Bootbites.com (unless otherwise stated)
 * For license information see: http://bootbites.com/license
 * ======================================================================== */

@import '_variables';
@import '_mixins';

body{
	/*background: #d2d2d2;*/
}

/*--------------------------
NAV BAR
*---------------------------*/

#mainNav{
	height: 80px;
	background:#234d84;
	a{
		color:white;
	}
}

.navbar-right{

	margin-top:26px;

}

#brandNavLink{

    font-family: theboldfont;
    color: black;
    font-size: 22px;
    margin-top: 11px;
}

.navLink{

	font-family: theboldfont;
	color:black;
}

/*----------------------------------------
HOME PAGE
----------------------------------------*/
.titleSection{
	height:500px;
}

.titleContainer{
	    position: relative;
	    top: 100px;
	    
			.homeTitle{

				font-family: $font-title;
				font-size: 7vw;
				position: absolute;
				left: 17%;
			 }

			.titleImage{

				position:absolute;
			   width:44%; 
			   left:29%;
			}

}

.homeContent{
	background-color:blue;
	height:300px;
}

.formContent{
	background-color:#ddd;
	height:300px;


}
/*---------------------------------
POST PAGE
---------------------------------*/
.postPage{

	position:relative;
	top:150px;
}

.officerSection{
	height:500px;
	background-color:orange;
	float:right;
}

.postSection{
	
	background-color: grey;

	.optionalFields{
		max-height:0px;
		overflow:hidden;
		transition:1s;
	}
	.optionalFields.active{
		
		max-height:500px;
		transition:1s;
	}
}

.serviceImage{
	height:50%;
}

/*------------------------------------
POST
------------------------------------*/

.post{

	background-color:white;
}