// -------------------------------------------------
// Site Specific Variables
// -------------------------------------------------

@font-face{
  font-family: theboldfont;
  src:url(theboldfont.ttf);

}
$font-title: 'theboldfont', 'Trebuchet MS', Arial, sans-serif;

/*-------------------------
COLORS
-------------------------*/

$badgeInputBackground:#f0e1cb;
$badgeInputBorderColor:#bc945c;
$postColor: #c1cbd9;